.faq {
	margin-top: 150px;
	margin-bottom: 150px;
	&__container {
		padding: 0 155px;
		@include tablet {
			padding: 0 20px;
		}
	}

	&__title {
		@include text($ffAdd, 700, 46px, 56px, $darkBlue);
		text-align: center;
		margin-bottom: 51px;
	}

	&__list {
		display: grid;
		gap: 20px;
	}

}
